<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="eu.kanade.tachiyomi.permission.READ_SOURCES" />
    <uses-permission android:name="eu.kanade.tachiyomi.permission.WRITE_SOURCES" />
    <application
        android:usesCleartextTraffic="true" />
</manifest>
